data/*
example/*
checkpoints/*
__pycache__/*
results/*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.ipynb_checkpoints/
.vscode/
.idea/
*.pkl
*.pth
*.h5
data/raw/
data/processed/
.env